<div id="errorpane" ng-controller="ErrorCtrl">
    <div mc-messages id="messageCenter"></div>
    <div class="row">
        <div class="col-xs-12 panel panel-default">
            <div class="panel-body">
                <form role="form" name='searchForm'>

                    <div class="form-group row">
                        <label for="systemSelect" class="col-sm-1 form-control-label">System:</label>
                        <div class="col-sm-11">
                            <select id="system" name="systemSelect" ng-model="searchCriteria.sourceSystem">
                                <option ng-repeat="system in availableSystems" value="{{system.value}}">{{system.label}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">

                        <label for="entitySelect" class="col-sm-1 form-control-label">Entity:</label>
                        <div class="col-sm-11">
                            <select id="entity" name="entitySelect" ng-model="searchCriteria.messageType">
                                <option ng-repeat="entity in availableEntities" value="{{entity.value}}">{{entity.label}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="filterSelect" class="col-sm-1 form-control-label">Filter by:</label>
                        <div class="row">
                            <div ng-repeat="messageFilter in messageFilters" class="col-sm-11">
                                <select name="filterSelect" ng-model="messageFilter.key" ng-disabled='!searchCriteria.sourceSystem || !searchCriteria.messageType'>
                                    <option ng-repeat="filterKey in availableFilters" ng-if="filterKey.availableSystems.indexOf(searchCriteria.sourceSystem) > -1" value="{{ filterKey.value }}">{{ filterKey.label }}</option>
                                </select>

                                <label for="filterValue">is equal to: </label>
                                <input ng-model="messageFilter.value" ng-disabled='!searchCriteria.sourceSystem || !searchCriteria.messageType'>
                                <button type="button" class="btn btn-success" ng-click='addFilter()' ng-show='$last'>
                                    <span>Add</span>
                                </button>

                                <button type="button" class="btn btn-danger" ng-click='removeFilter($index)' ng-show='!$last'>
                                    <span>Remove</span>
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="fromDatePicker" class="col-sm-1">From:</label>
                        <quick-datepicker name="fromDatePicker" class="col-sm-11" ng-model='fromDate' date-format="{{dateFormat}}" time-format="{{timeFormat}}"></quick-datepicker>
                    </div>
                    <div class="form-group row">
                        <label for="toDatePicker" class="col-sm-1">To:</label>
                        <quick-datepicker name="toDatePicker" class="col-sm-11" ng-model='toDate' date-format="{{dateFormat}}" time-format="{{timeFormat}}"></quick-datepicker>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click='search()' ng-disabled="searchForm.$invalid">Search</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="errorDisplayPane">
            <div ui-layout="{ flow: 'column' }" id="errorGridColumn">
                <div ui-layout-container size="400px" ng-controller="GridResizeBroadcastController">
                    <div id="grid" ng-grid="gridOptions"></div>
                </div>
                <div ui-layout-container>
                    <div id="details" class="panel panel-default center-back">
                        <tabset type="tabs">
                            <tab heading="Error">
                                <br/>
                                <span ng-if="message">
                                    <h4>Error Message</h4>
                                    <p>{{message.errorMessage}}</p>
                                    <h4>Error Details</h4>
                                    <p>{{message.errorDetails}}</p>
                                </span>
                            </tab>
                            <tab heading="Payload">
                                <br/>
                                <form ng-if="message">
                                    <button type="button" class="btn btn-primary" ng-click='resubmitMessage()'>Resubmit message</button>
                                    <br/>
                                    <br/>
                                    <textarea class="payload" ng-trim="true" ng-disabled="!message.editableMessage">{{message.payload}}</textarea>
                                </form>
                            </tab>
                            <tab heading="Headers">
                                <br/>
                                <table ng-if="message" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="header in message.headers">
                                            <td>{{header.name}}</td>
                                            <td>{{header.type}}</td>
                                            <td>{{header.value}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
