/* bootstrap override */
.container {
    margin-left: 50px !important;
    margin-right: 50px !important;
    width: initial;
}

.nav-tabs {
  height: 42px;
}

/* other */
h1.title {
    margin-top: 100px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
}

div#errorpane {
  margin:0 auto;
  padding:5px;
  text-align:left;
}

div#head {
  border: 1px solid rgb(212,212,212);
  height:60px;
}

div#grid {
  border: 1px solid rgb(212,212,212);
  width:400px;
  float:left;
  margin:10px 0 10px 5px;
  min-height:490px;
}

div#details {
  margin:10px 0 10px 435px;
  min-height:500px;
  height:500px
}

textarea.payload {
  width: 100%;
  height: 430px;
}

.form-text {
  position: relative;
  top: -6px;
}

@media screen and (min-width: 600px) {
    #searchField_value {
        width: 400px;
    }
}

@media screen and (min-width: 900px) {
    #searchField_value {
        width: 700px;
    }
}

@media screen and (min-width: 1200px) {
    #searchField_value {
        width: 900px;
    }
}

@media screen and (min-width: 1600px) {
    #searchField_value {
        width: 1100px;
    }
}








