/* bootstrap override */

body {
    margin-top: 80px;
}

.container {
    margin-left: 50px !important;
    margin-right: 50px !important;
    width: initial;
}

.nav-tabs {
  height: 42px;
}

/* other */
h1.title {
    margin-top: 100px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
}

div#errorpane {
  margin:0 auto;
  padding:5px;
  text-align:left;
}

div#head {
  border: 1px solid rgb(212,212,212);
  height:60px;
}

div#errorDisplayPane {
  min-height: 550px;
}

div#errorGridColumn {
  overflow: hidden;
}

div#grid {
  min-height:500px;
}

div#details {
  min-height:500px;
}

div#messageCenter {
  margin-top: 80px;
}

textarea.payload {
  width: 100%;
  height: 430px;
}

.form-text {
  position: relative;
  top: -6px;
}

@media screen and (min-width: 600px) {
    #searchField_value {
        width: 400px;
    }
}

@media screen and (min-width: 900px) {
    #searchField_value {
        width: 700px;
    }
}

@media screen and (min-width: 1200px) {
    #searchField_value {
        width: 900px;
    }
}

@media screen and (min-width: 1600px) {
    #searchField_value {
        width: 1100px;
    }
}
