<div id="syncKeyPane">
    <div ng-controller="SyncKeysCtrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Manage Sync Form Keys</h4>
                <ol class="ab-nav breadcrumb">
                    <li ng-repeat="crumb in crumbs" ng-class="{ active: $last }">
                        <a ng-if="!$last" ng-click="gotoCrumb(crumb)" ng-bind="crumb.name" class="margin-right-xs"></a>
                        <span ng-if="$last" ng-bind="crumb.name"></span>
                    </li>
                </ol>
                <div ng-hide="addMode || updateMode" class="panel-body">
                    <button ng-hide="cantHaveChild(parent)" type="button" class="btn btn-success btn-xs" ng-click="addChild(parent)">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                    <table ng-hide="cantHaveChild(parent)" class="table table-striped table-condensed" ng-table="fieldTable">
                        <thead>
                            <tr>
                                <th style="width:80px;"> </th>
                                <th style="min-width: 40px;"><span tooltip="Text to be displayed in the dropdown">Name</span></th>
                                <th style="min-width: 40px;"><span tooltip="Text to be used in the message">Value</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="child in parent.children">
                                <td>
                                    <div class="btn-group" dropdown is-open="status.isopen">
                                      <button type="button" class="btn btn-primary  btn-xs dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        Manage <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li ng-hide="cantHaveChild(child)">
                                            <a ng-click="manageChildren(child)">
                                                <span class="glyphicon glyphicon-envelope"></span>
                                                Edit Children
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="editChild(child)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                Update
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="deleteChild(child)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                                Delete
                                            </a>
                                        </li>
                                      </ul>
                                    </div>
                                </td>
                                <td>{{ child.name }}</td>
                                <td>{{ child.value }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-hide="!addMode" class="panel-body">
                    <form class="form-inline" role="form" name='addForm'>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Name</div>
                                <input class="form-control" id="addFormName" type="text" ng-model="addFormName" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Value</div>
                                <input class="form-control" id="addFormName" type="text" ng-model="addFormValue" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-0 col-sm-0">
                                <button type="button" class="btn btn-primary" ng-click="requestAdd()" ng-disabled="false">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-hide="!updateMode" class="panel-body">
                    <form class="form-inline" role="form" name='updateForm'>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Name</div>
                                <input class="form-control" id="updateFormName" type="text" ng-model="parent.name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Value</div>
                                <input class="form-control" id="updateFormValue" type="text" ng-model="parent.value" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-0 col-sm-0">
                                <button type="button" class="btn btn-primary" ng-click="requestUpdate()" ng-disabled="false">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
